
<nav id="navbar">
       
      <div id="logo">
       <img src="images/sada3.jpg" alt="myfood.com">
      </div>
<Ul>
    <li class="item"><a href="#home">home</a></li>
    <li class="item"><a href="#services">services</a></li>
    <li class="item"><a href="#about">about</a></li>
    <li class="item"><a href="register">register</a></li>
    <li class="item"><a href="login">Login</a></li>
</ul>
<div class="container">
  time is  <span id="time"></span>
  </div>
</nav>